In [3]:
%reload_ext sql
%config SqlMagic.displaylimit = None
%sql sqlite:///libray.db

displaylimit: Value None will be treated as 0 (no limit)

Connecting to 'sqlite:///libray.db'

In [7]:
%%sql
-- Ensure foreign keys are enabled (Run separately before this script in SQLite)
PRAGMA foreign_keys = ON;

CREATE TABLE
  IF NOT EXISTS events (
    eventID INTEGER PRIMARY KEY,
    eventName TEXT NOT NULL,
    eventType TEXT NOT NULL,
    description TEXT,
    audienceType TEXT,
    eventDate TEXT CHECK (eventDate LIKE '____-__-__'),
    startTime TIME NOT NULL, -- Changed from TEXT to TIME for proper comparison
    endTime TIME NOT NULL,
    roomNum INTEGER NOT NULL,
    FOREIGN KEY (roomNum) REFERENCES socialRooms (roomNum) ON DELETE CASCADE,
    CHECK (startTime < endTime)
  );

CREATE TABLE
  IF NOT EXISTS item (
    itemID INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    publicationYear INTEGER,
    genre TEXT,
    itemType TEXT,
    isAvailable INTEGER CHECK (isAvailable IN (0, 1)),
    location TEXT
  );

CREATE TABLE
  IF NOT EXISTS borrowedBy (
    borrowingID INTEGER PRIMARY KEY,
    itemID INTEGER NOT NULL,
    userID INTEGER NOT NULL,
    borrowDate TEXT CHECK (borrowDate LIKE '____-__-__'),
    returnDate TEXT CHECK (returnDate LIKE '____-__-__'),
    fineAmnt REAL DEFAULT 0.0,
    FOREIGN KEY (itemID) REFERENCES item (itemID) ON DELETE CASCADE,
    FOREIGN KEY (userID) REFERENCES USER (userID) ON DELETE CASCADE,
    CHECK (borrowDate < returnDate)
  );

CREATE TABLE
  IF NOT EXISTS socialRooms (
    roomNum INTEGER PRIMARY KEY,
    isAvailable INTEGER CHECK (isAvailable IN (0, 1)),
    capacity INTEGER CHECK (capacity > 0)
  );

CREATE TABLE
  IF NOT EXISTS personnel (
    staffID INTEGER PRIMARY KEY,
    firstName TEXT NOT NULL,
    lastName TEXT NOT NULL,
    POSITION TEXT NOT NULL,
    phoneNum NUMERIC,
    isActive INTEGER CHECK (isActive IN (0, 1))
  );

CREATE TABLE
  IF NOT EXISTS patron (
    userID INTEGER PRIMARY KEY,
    firstName TEXT NOT NULL,
    lastName TEXT NOT NULL,
    phoneNum NUMERIC UNIQUE
  );

CREATE TABLE
  IF NOT EXISTS futureItems (
    itemID INTEGER PRIMARY KEY,
    expectedArrivalDate TEXT CHECK (expectedArrivalDate LIKE '____-__-__'),
    FOREIGN KEY (itemID) REFERENCES item (itemID) ON DELETE CASCADE
  );

CREATE TABLE
  IF NOT EXISTS registerEvent (
    eventID INTEGER,
    userID INTEGER,
    PRIMARY KEY (eventID, userID),
    FOREIGN KEY (eventID) REFERENCES events (eventID) ON DELETE CASCADE,
    FOREIGN KEY (userID) REFERENCES USER (userID) ON DELETE CASCADE
  );

CREATE TABLE
  IF NOT EXISTS askLibrarian (
    requestID INTEGER PRIMARY KEY,
    userID INTEGER NOT NULL,
    staffID INTEGER NOT NULL,
    requestTime TEXT CHECK (requestTime LIKE '____-__-__ __:__:__'),
    description TEXT NOT NULL,
    status INTEGER CHECK (status IN (0, 1, 2)),
    FOREIGN KEY (staffID) REFERENCES personnel (staffID) ON DELETE SET NULL,
    FOREIGN KEY (userID) REFERENCES USER (userID) ON DELETE CASCADE
  );

CREATE TABLE
  IF NOT EXISTS donations (
    donationID INTEGER PRIMARY KEY,
    userID INTEGER NOT NULL,
    itemID INTEGER NOT NULL,
    donationDate TEXT CHECK (donationDate LIKE '____-__-__'),
    FOREIGN KEY (itemID) REFERENCES item (itemID) ON DELETE CASCADE,
    FOREIGN KEY (userID) REFERENCES USER (userID) ON DELETE CASCADE
  );

CREATE TABLE
  IF NOT EXISTS volunteers (
    userID INTEGER NOT NULL,
    staffID INTEGER NOT NULL,
    PRIMARY KEY (userID, staffID),
    FOREIGN KEY (staffID) REFERENCES personnel (staffID) ON DELETE CASCADE,
    FOREIGN KEY (userID) REFERENCES USER (userID) ON DELETE CASCADE
  );

Running query in 'sqlite:///libray.db'

++
||
++
++

In [61]:
%%sql

Running query in 'sqlite:///libray.db'

10 rows affected.

10 rows affected.

++
||
++
++

In [47]:
%%sql 
-- SELECT name FROM sqlite_master WHERE type='table';

--works
-- SELECT COUNT(*) from personnel;
-- SELECT COUNT(*) from borrowedBy;
-- SELECT COUNT(*) from item;
-- SELECT COUNT(*) from patron;
-- SELECT COUNT(*) from socialRooms;
-- SELECT COUNT(*) from events;
-- SELECT COUNT(*) from donations;
-- SELECT COUNT(*) from askLibrian;
-- SELECT COUNT(*) from volunteers;

Running query in 'sqlite:///libray.db'

++
||
++
++

In [31]:
%%sql
PRAGMA foreign_keys = OFF;

-- DROP TABLE IF EXISTS registerEvent;
-- DROP TABLE IF EXISTS volunteers;
-- DROP TABLE IF EXISTS donations;
-- DROP TABLE IF EXISTS askLibrarian;
-- DROP TABLE IF EXISTS futureItems;
-- DROP TABLE IF EXISTS borrowedBy;
-- DROP TABLE IF EXISTS events;
-- DROP TABLE IF EXISTS socialRooms;
-- DROP TABLE IF EXISTS personnel;
-- DROP TABLE IF EXISTS patron;
-- DROP TABLE item;

Running query in 'sqlite:///libray.db'

++
||
++
++

In [ ]:
-- -- Insert sample data for events
REPLACE INTO events (eventID, eventName, eventType, description, audienceType, eventDate, startTime, endTime, roomNum) VALUES
(400, 'Book Club Meeting', 'Discussion', 'Monthly book club meetup', 'Adults', '2024-04-01', '18:00:00', '20:00:00', 500),
(401, 'Tech Talk', 'Seminar', 'AI and future trends', 'General', '2024-04-05', '14:00:00', '16:00:00', 501),
(402, 'Story Time', 'Reading', 'Children storytelling session', 'Children', '2024-04-10', '10:00:00', '11:30:00', 502),
(403, 'Poetry Night', 'Performance', 'Open mic poetry', 'Teens', '2024-04-12', '19:00:00', '21:00:00', 503),
(404, 'Chess Tournament', 'Competition', 'Annual chess contest', 'General', '2024-04-15', '10:00:00', '15:00:00', 504),
(405, 'Coding Workshop', 'Workshop', 'Intro to Python', 'Teens', '2024-04-18', '13:00:00', '16:00:00', 505),
(406, 'Author Meet & Greet', 'Discussion', 'Q&A with famous author', 'General', '2024-04-22', '17:00:00', '19:00:00', 506),
(407, 'Film Screening', 'Entertainment', 'Classic movie night', 'General', '2024-04-25', '20:00:00', '22:30:00', 507),
(408, 'Library Game Night', 'Social', 'Board games and card games for all ages', 'General', '2024-04-28', '17:00:00', '20:00:00', 508),
(409, 'Science Fair', 'Educational', 'Annual community science fair', 'Teens', '2024-04-30', '10:00:00', '15:00:00', 509);
-- Insert sample data for item
-- INSERT INTO
--   item (
--     itemID,
--     title,
--     publicationYear,
--     genre,
--     itemType,
--     isAvailable,
--     location
--   )
-- VALUES
--   (
--     300,
--     'To Kill a Mockingbird',
--     1960,
--     'Fiction',
--     'Book',
--     1,
--     'Shelf A1'
--   ),
--   (
--     301,
--     '1984',
--     1949,
--     'Dystopian',
--     'Book',
--     1,
--     'Shelf A2'
--   ),
--   (
--     302,
--     'The Catcher in the Rye',
--     1951,
--     'Classic',
--     'Book',
--     1,
--     'Shelf B1'
--   ),
--   (
--     303,
--     'Sapiens',
--     2011,
--     'Non-fiction',
--     'Book',
--     1,
--     'Shelf C1'
--   ),
--   (
--     304,
--     'Inception',
--     2010,
--     'Sci-Fi',
--     'DVD',
--     1,
--     'Shelf D1'
--   ),
--   (
--     305,
--     'The Matrix',
--     1999,
--     'Sci-Fi',
--     'DVD',
--     1,
--     'Shelf D2'
--   ),
--   (
--     306,
--     'Interstellar',
--     2014,
--     'Sci-Fi',
--     'DVD',
--     1,
--     'Shelf D3'
--   ),
--   (
--     307,
--     'The Godfather',
--     1972,
--     'Crime',
--     'DVD',
--     1,
--     'Shelf D4'
--   ),
--   (
--     308,
--     'Harry Potter and the Sorcerer''s Stone',
--     1997,
--     'Fantasy',
--     'Book',
--     1,
--     'Shelf B2'
--   ),
--   (
--     309,
--     'The Great Gatsby',
--     1925,
--     'Classic',
--     'Book',
--     1,
--     'Shelf B3'
--   );

-- Insert sample data for borrowedBy
-- INSERT INTO borrowedBy (borrowingID, itemID, userID, borrowDate, returnDate, fineAmnt) VALUES
-- (1, 300, 100, '2024-03-01', '2024-03-15', 0.0),
-- (2, 301, 101, '2024-03-02', '2024-03-16', 0.0),
-- (3, 302, 102, '2024-03-05', '2024-03-19', 0.0),
-- (4, 303, 103, '2024-03-10', '2024-03-24', 0.0),
-- (5, 304, 104, '2024-03-15', '2024-03-29', 0.0),
-- (6, 305, 105, '2024-03-20', '2024-04-03', 1.5),
-- (7, 306, 106, '2024-03-22', '2024-04-05', 0.0),
-- (8, 307, 107, '2024-03-25', '2024-04-08', 2.0),
-- (9, 308, 108, '2024-03-27', '2024-04-10', 0.0),
-- (10, 309, 109, '2024-03-30', '2024-04-13', 0.0);
-- Insert sample data for socialRooms
-- REPLACE INTO socialRooms (roomNum, isAvailable, capacity) VALUES
-- (500, 1, 50),
-- (501, 1, 100),
-- (502, 1, 30),
-- (503, 1, 40),
-- (504, 1, 60),
-- (505, 1, 70),
-- (506, 1, 80),
-- (507, 1, 90),
-- (508, 1, 100),
-- (509, 1, 30);
-- -- Insert sample data for personnel
-- INSERT INTO personnel (staffID, firstName, lastName, position, phoneNum, isActive) VALUES
-- (200, 'Alice', 'Johnson', 'Librarian', '1234567890', 1),
-- (201, 'Bob', 'Smith', 'Assistant', '1234567891', 1),
-- (202, 'Charlie', 'Brown', 'Manager', '1234567892', 1),
-- (203, 'David', 'White', 'Technician', '1234567893', 1),
-- (204, 'Eve', 'Black', 'Custodian', '1234567894', 1),
-- (205, 'Frank', 'Green', 'Security', '1234567895', 1),
-- (206, 'Grace', 'Blue', 'Archivist', '1234567896', 1),
-- (207, 'Hank', 'Red', 'IT Support', '1234567897', 1),
-- (208, 'Ivy', 'Yellow', 'Researcher', '1234567898', 1),
-- (209, 'Jack', 'Gray', 'Volunteer Coordinator', '1234567899', 1);
-- -- Insert sample data for user
-- INSERT INTO patron (userID, firstName, lastName, phoneNum) VALUES
-- (100, 'John', 'Doe', '9876543210'),
-- (101, 'Jane', 'Doe', '9876543211'),
-- (102, 'Emily', 'Clark', '9876543212'),
-- (103, 'Michael', 'Brown', '9876543213'),
-- (104, 'Sarah', 'Johnson', '9876543214'),
-- (105, 'Chris', 'Lee', '9876543215'),
-- (106, 'Anna', 'Taylor','9876543216'),
-- (107, 'David', 'Wilson', '9876543217'),
-- (108, 'Emma', 'Martinez','9876543218'),
-- (109, 'James', 'Anderson', '9876543219');

In [ ]:
-- INSERT INTO volunteers (userID, staffID) VALUES
-- (200, 10),
-- (201, 11),
-- (202, 12),
-- (203, 13),
-- (204, 14),
-- (205, 15),
-- (206, 16),
-- (207, 17),
-- (208, 18),
-- (209, 19);

-- INSERT INTO donations (donationID, userID, itemID, donationDate) VALUES
-- (500, 200, 300, '2024-03-01'),
-- (501, 201, 301, '2024-03-05'),
-- (502, 202, 302, '2024-03-08'),
-- (503, 203, 303, '2024-03-12'),
-- (504, 204, 304, '2024-03-15'),
-- (505, 205, 305, '2024-03-18'),
-- (506, 206, 306, '2024-03-22'),
-- (507, 207, 307, '2024-03-25'),
-- (508, 208, 308, '2024-03-28'),
-- (509, 209, 309, '2024-03-30');

INSERT INTO askLibrarian (requestID, userID, staffID, requestTime, description, status) VALUES
(600, 200, 10, '2024-03-01 10:15:00', 'Inquiry about book availability', 0),
(601, 201, 11, '2024-03-02 14:30:00', 'Help with research materials', 1),
(602, 202, 12, '2024-03-03 09:45:00', 'Issue with borrowed book return', 2),
(603, 203, 13, '2024-03-04 13:10:00', 'Request for book recommendation', 0),
(604, 204, 14, '2024-03-05 16:20:00', 'Guidance on digital resources', 1),
(605, 205, 15, '2024-03-06 11:05:00', 'Request for room booking', 2),
(606, 206, 16, '2024-03-07 12:40:00', 'Assistance with library membership', 0),
(607, 207, 17, '2024-03-08 15:00:00', 'Lost item inquiry', 1),
(608, 208, 18, '2024-03-09 17:25:00', 'Help with citation formatting', 2),
(609, 209, 19, '2024-03-10 08:50:00', 'Request for event details', 0);

INSERT INTO registerEvent (eventID, userID) VALUES
(400, 200),
(401, 201),
(402, 202),
(403, 203),
(404, 204),
(405, 205),
(406, 206),
(407, 207),
(408, 208),
(409, 209);
INSERT INTO futureItems (itemID, expectedArrivalDate) VALUES
(310, '2024-05-01'),
(311, '2024-05-05'),
(312, '2024-05-10'),
(313, '2024-05-15'),
(314, '2024-05-20'),
(315, '2024-05-25'),
(316, '2024-06-01'),
(317, '2024-06-05'),
(318, '2024-06-10'),
(319, '2024-06-15');